* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header-text {
  float: left;
  margin: 0;
}

.login-buttons-dropdown-align-right {
  float: right;
  cursor: pointer;
}

.accounts-centered-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1px solid #f00;
  background: #eee;
  width: 500px;
  margin: -250px 0 0 -250px;
  padding: 10px;
}

.accounts-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #000;
}

.login-button {
  display: inline-block;
  border: 1px solid #000;
  padding: 5px;
  cursor: pointer;
}

.dashboard-title {
  clear: both;
  margin: 0;
}
