/*
  COLORS:

  Light Cyan: #D6F6FF
  Summer Sky: #3FAAFF
  Dodger Blue: #0C93FF

  Selective Yellow: #FFC333
  Dark Tangerine: #FFA114
 */

@font-face {
  font-family: Stark;
  src: url('/fonts/Stark.OTF');
}

@font-face {
  font-family: MotorOil;
  src: url('/fonts/Motor Oil 1937 M54.ttf');
}

@font-face {
  font-family: SourceProRegular;
  src: url('/fonts/Source Code Powerline Regular.otf');
}

@font-face {
  font-family: SourceProBlack;
  src: url('/fonts/Source Code Powerline Black.otf');
}

@font-face {
  font-family: SourceProBold;
  src: url('/fonts/Source Code Powerline Bold.otf');
}

@font-face {
  font-family: SourceProExtraLight;
  src: url('/fonts/Source Code Powerline ExtraLight.otf');
}

@font-face {
  font-family: SourceProLight;
  src: url('/fonts/Source Code Powerline Light.otf');
}

@font-face {
  font-family: SourceProMedium;
  src: url('/fonts/Source Code Powerline Medium.otf');
}

@font-face {
  font-family: SourceProSemibold;
  src: url('/fonts/Source Code Powerline Semibold.otf');
}

@font-face {
  font-family: Foundation;
  src: url('/fonts/foundation-icons/foundation-icons.woff');
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  width: 100%;
  color: #d6f6ff;
  background: #000;
  font-family: SourceProExtraLight;
}

header {
  text-align: center;
}

h1 {
  margin: 25px 0;
  font-family: Stark;
  color: #0C93FF;
}

h2 {
  margin: 15px 0;
}

#logo {
  width: 500px;
  margin: 50px 0 0;
}

.main {
  width: 66%;
  margin: 0 auto;
}

.login-link-text {
  cursor: pointer;
  border: 2px solid #3FAAFF;
  border-radius: 2px;
  padding: 5px 10px;
  min-width: 100px;
  display: block;
  margin: 0 auto;
  width: 200px;
  font: normal 20px/1.8 SourceProSemibold;
  background: #0c93ff;
  background: linear-gradient(to bottom, #0C93FF, #3FAAFF);
  height: 50px;
  box-shadow: 0 0 0 2px #0C93FF;
}

.accounts-dialog {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  padding: 75px;
  box-shadow:
    inset 0 0 20px #0C93FF,
    inset 0 0 40px #3FAAFF,
    inset 0 0 60px #D6F6FF
    ;
}

.login-close-text {
  position: absolute;
  right: 25px;
  top: 25px;
  background: #0C93FF;
  text-indent: -99999px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #3FAAFF;
  background: #0c93ff;
  background: linear-gradient(to bottom, #0C93FF, #3FAAFF);
  box-shadow: 0 0 0 2px #0C93FF;
}

.login-close-text:before {
  content: '×';
  text-indent: 0;
  position: absolute;
  width: 25px;
  height: 25px;
  left: -2px;
  top: -2px;
  font: normal 18px/1.25 sans-serif;
}

.accounts-centered-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1px solid #f00;
  background: #eee;
  width: 500px;
  margin: -250px 0 0 -250px;
  padding: 10px;
}

.accounts-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #000;
}

.login-button {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  width: 350px;
  margin: 10px;
  border-radius: 2px;
  border: 2px solid #3FAAFF;
  font: normal 20px/1.8 SourceProSemibold;
  background: #0c93ff;
  background: linear-gradient(to bottom, #0C93FF, #3FAAFF);
  box-shadow: 0 0 0 2px #0C93FF;
  height: 50px;
  position: relative;
}

.sign-in-text-github:before {
  content: '\f1c9';
  font: normal 30px/1 Foundation;
  position: absolute;
  left: 15px;
  top: 10px;
}

.dashboard-title {
  clear: both;
  font: normal 28px/1.5 Stark;
}

textarea {
  resize: none;
}

.logged-in-header .login-link-text,
.logged-in-header h2 {
  float: left;
  border: none;
  font: normal 14px/1.5 SourceProExtraLight;
  margin: 0;
  padding: 5px 10px;
  border: none;
  background: none;
  height: auto;
  width: auto;
  box-shadow: none;
}

.logged-in-header {
  border-bottom: 1px solid #0C93FF;
  height: 45px;
  padding: 0 0 15px;
  margin: 25px auto 10px;
  width: 66%;
}

.logged-in-header:after {
  content: '';
  display: table;
  clear: both;
}

.logged-in-header #logo {
  width: auto;
  height: 30px;
  margin: 0 10px 0 0;
  float: left;
}

.main .pure-form fieldset {
  border-left: 1px solid #3FAAFF;
  margin: 20px 0;
  padding: 0 0 5px;
  border-radius: 10px;
}

.main .pure-form fieldset span,
.main .pure-form fieldset button,
.main .pure-form fieldset label,
.main .pure-form fieldset input,
.main .pure-form fieldset textarea {
  margin: 5px 10px;
}

.main .pure-form fieldset label {
  color: #0C93FF;
  display: inline-block;
}

.main .pure-form legend {
  font: normal 18px/1.5 SourceProSemibold;
  background: #0C93FF;
  background: linear-gradient(to right, #0C93FF, #000);
  padding: 0 10px;
  margin: 0 0 10px;
  float: left;
  color: #D6F6FF;
  border-top: 1px solid #3FAAFF;
  border-bottom: none;
  border-radius: 10px 0 0 0;
}

.main .pure-form input {
  display: inline-block;
}

.main .pure-form .current-text {
  background: none;
  border: none;
  box-shadow: none;
  color: #D6F6FF;
  font: normal 18px/1.5 SourceProRegular;
  padding: 0;
  margin: 2px 0;
  min-width: 235px;
  width: 50%;
}

.main .pure-form .lcd-screen label {
  width: 150px;
  display: block;
  float: left;
  clear: both;
}

.main .pure-form .new-text {
  background: none;
  border-radius: 2px;
  box-shadow: none;
  color: #3FAAFF;
  padding: 0 5px;
  font: normal 18px/1.5 SourceProRegular;
  margin: 2px 15% 2px 0;
  min-width: 235px;
}

::-webkit-input-placeholder {
  color: #333;
}

.main .pure-form .control-panel-button {
  color: #D6F6FF;
  border-radius: 2px;
  background: #0C93FF;
  background: linear-gradient(to bottom, #0C93FF, #3FAAFF);
  box-shadow: 0 0 0 2px #0C93FF;
  border: 2px solid #3FAAFF;
  padding: 5px;
  display: block;
  margin: 10px;
}
