<template name="dashboard">

  <header class="logged-in-header">
    <a href="/"><img id="logo" src="/images/machinabio_logo_monochromatic.svg" alt="MachinaBio Logo"></a>
    {{> loginButtons}}
    <h2>Device: {{device_id}}</h2>
  </header>

  <section class="main">
  {{#if currentUser}}

    <h2 class="dashboard-title">Component Control Panel</h2>

    <form class="pure-form pure-form-stacked">
      {{> fan}}

      {{> temperature}}

      {{> lcd_screen}}
    </form>

  {{else}}

    <h2>You aren't logged in.</h2>

  {{/if}}
  </section>
</template>
