<template name="lcd_screen">
  <fieldset class="lcd-screen">
    <legend>LCD Screen</legend>
    <label for="current-text">Current Text:</label>
    <textarea
      class="current-text"
      name="current-text"
      cols="24" rows="5"
      readonly>{{text}}</textarea>
    <label for="new-text">New Text:</label>
    <textarea
      class="new-text"
      name="new-text"
      cols="24"
      rows="5"
      placeholder="Enter new desired text"></textarea>
    <button class="pure-button">Set New Text</button>
  </fieldset>
</template>
