<template name="lcd_screen">
  <fieldset class="lcd-screen">
    <legend>LCD Screen</legend>
    <label for="current-text">Current Text:</label>
    <input
      type="text"
      class="current-text"
      name="current-text"
      value={{text}}
      readonly>
    <label for="new-text">New Text:</label>
    <input
      type="text"
      class="new-text"
      name="new-text"
      placeholder="Enter new text">
    <button class="control-panel-button">Set New Text</button>
  </fieldset>
</template>
